<header class="px-4 sm:px-6 lg:px-8 bg-pink-800 font-large text-white font-bold">
  <div class="p-4">
   Code BEAM Lite Stockholm - Learning about Supervisors with Phoenix LiveView
  </div>
</header>
<main class="px-4 py-5 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-6xl">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
